@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



body {
    background-color: black;
    font-family: var(--font-dm-sans);
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_navigation{
    background-color: #121212;
    border-radius: 8px;
    padding: 16px 0px 0px 16px;
    
}

.Spotify_logo{
    display: flex;
    padding: 16px 0px 0px 16px;

}

.Spotify_logo img{
    width: 100px;
}

.sidebar nav ul{
    margin-top: 20px;
    padding: 0px 20px 10px 20px;

}

.sidebar ul li{
    padding: 10px 0px;

}

.sidebar nav ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    
}

.library{
    margin-top: 10px;
    border-radius: 8px;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #b3b3b3;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 16px;
}

.library_content{
    
    display: flex;
    justify-content: space-between;
}

.library_button{
    display: flex;
    margin-right: 10px;
    background-color: transparent;
    color: #b3b3b3;
    font-size: 18px;
    font-weight: 700px;
    padding: 20px 10px;
    border: 0px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
}   

.library_button .fa{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 10px;
}

.library_content .fa-plus{
    margin: 24px 10px;
}

.section_playlist{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    padding: 16px 20px;
    margin: 8px 0px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;

}

.section_playlist .section_playlist__content{
    display: flex;
    flex-direction: column;
}

.section_playlist .section_playlist__content .text{
    color: white;
    padding: 0px 0px 10px 0px;
}   

.section_playlist .section_playlist__content .title{
    font-weight: 700;
    font-size: 16px;
}

.section_playlist .section_playlist__content .subtitle{
    font-weight: 500;
    font-size: 14px;

}

.section_playlist__button{
    display: flex;
    justify-content: center;
    color: black;
    padding: 10px;
    border-radius: 20px;

    font-size: 16px;
    font-weight: 700;
    width: 150px;
}

.cookies{
    margin: 24px 20px ;

}

.cookies a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 500;
    font-size: 10px;
}

.cookies a:hover{
    text-decoration: underline;
}

.languages{
    display: flex;

}

.languages .languages_button{
    background-color: black;
    color: white;
    border: 1px solid #878787;
    border-radius: 20px;
    padding: 8px;
    font-weight: bold;
    width: 170px;
    margin: 8px;
}

footer{
    bottom: 0;
    position: fixed;
    background-image: linear-gradient(to right, rgb(218, 46, 75), rgb(19, 82, 255));
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
}



.test_footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.test_footer span{
    color: white;
    margin-left: 20px;
}

.subtitle-premium{
    margin-top: -5px;
    font-size: 16px;
}


.footer_button{
    padding: 8px;
    margin: 12px 24px;
}

.footer_button button{
    padding: 10px;
    border-radius: 18px;
    font-weight: 700;
    font-size: 16px;
    width: 200px;
    background-color: white;
}

.footer_button button:hover{
    background-color: rgb(99, 99, 99);
    transition: 0.3s;
}



